$white: #ffffff
$black: #000000
$error: #ff0000
$primary: #1976D2
$primary-text: #4D4D4E
$logo-text: #181818
$tag-text: #444444
$btn-color: #328AFB
$input-color: #CACACA
$grey: #9B9B9B
$bottom-bor: #EBEBEB
$deactive: #D6D5D5
$orange: #FFA000
$orange-hover: #FFB332
$reset: #4A4A4A

.pos-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.hidden
  display: none!important

.full-op
  opacity: 1!important

.curs-dis
  pointer-events: none

.col-exlg-1
  @media screen and (min-width: 1600px)
    width: 8.3333%
.col-exlg-2
  @media screen and (min-width: 1600px)
    width: 16.6666%
.col-exlg-3
  @media screen and (min-width: 1600px)
    width: 25%
.col-exlg-4
  @media screen and (min-width: 1600px)
    width: 33.3333%
.col-exlg-5
  @media screen and (min-width: 1600px)
    width: 41.6666%
.col-exlg-6
  @media screen and (min-width: 1600px)
    width: 50%
.col-exlg-7
  @media screen and (min-width: 1600px)
    width: 58.3333%
.col-exlg-8
  @media screen and (min-width: 1600px)
    width: 66.6666%
.col-exlg-9
  @media screen and (min-width: 1600px)
    width: 75%
.col-exlg-10
  @media screen and (min-width: 1600px)
    width: 83.3333%
.col-exlg-11
  @media screen and (min-width: 1600px)
    width: 91.66666%
.col-exlg-12
  @media screen and (min-width: 1600px)
    width: 100%


=keyframes($name)
  @-webkit-keyframes #{$name}
    @content
  @-moz-keyframes #{$name}
    @content
  @-ms-keyframes #{$name}
    @content
  @keyframes #{$name}
    @content

+keyframes(opac-down)
  0%
    opacity: 1
    z-index: 100
  100%
    opacity: 0
    z-index: -1

+keyframes(opac-up)
  0%
    opacity: 0
    z-index: -1
  100%
    opacity: 1
    z-index: 100