$white: #ffffff
$black: #000000
$error: #ff0000
$primary: #1976D2
$primary-text: #4D4D4E
$logo-text: #181818
$tag-text: #444444
$btn-color: #328AFB
$input-color: #CACACA
$grey: #9B9B9B
$bottom-bor: #EBEBEB
$deactive: #D6D5D5
$orange: #FFA000
$reset: #4A4A4A

.pos-center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

.hidden
  display: none!important

.full-op
  opacity: 1!important