<div class="user-card">
  <div class="user-card-head">
    <div>
      <span class="user-card-hd-name">{{tempUser.firstName}} {{tempUser.secondName}}</span>
      <span class="user-card-hd-status" *ngIf="tempUser.role == 'super'">superuser</span>
      <span class="user-card-hd-status" *ngIf="tempUser.role == 'admin'">client-admin</span>
      <span class="user-card-hd-status" *ngIf="tempUser.role == 'user'">client-user</span>
    </div>
    <div class="pop-up-icon" [class.pop-up-icon-active]="openMenu" [hidden]="!canEdit">
      <i class="material-icons" (click)="openMenu = !openMenu" (window:mouseup)="openMenu = false">more_vert</i>
      <div class="pop-up" [class.hidden]="!openMenu">
        <div class="pop-up-item">
          <i class="material-icons">folder</i>
          <div class="pop-up-row-name">
            <span>Projects</span>
            <span class="pop-up-num">{{tempUser.projects.length}}</span>
          </div>
        </div>
        <div class="pop-up-item">
          <i class="material-icons">people</i>
          <div class="pop-up-row-name">
            <span>Users</span>
            <span class="pop-up-num">{{tempUser.users.length}}</span>
          </div>
        </div>
        <div class="pop-up-item" [hidden]="!tempUser.active || !canEdit" (click)="deactivate()">
          <i class="material-icons" (click)="tempUser.active = false">visibility_off</i>
          <div class="pop-up-row-name">
            <span>Deactivate</span>
          </div>
        </div>
        <div class="pop-up-item" [hidden]="tempUser.active || !canEdit" (click)="deactivate()">
          <i class="material-icons" (click)="tempUser.active = true">visibility</i>
          <div class="pop-up-row-name">
            <span>Activate</span>
          </div>
        </div>
        <div class="pop-up-item" [hidden]="!canEdit">
          <i class="material-icons">lock</i>
          <div class="pop-up-row-name">
            <span>Change password</span>
          </div>
        </div>
        <div class="pop-up-item" [hidden]="!canEdit" (click)="delete()">
          <i class="material-icons">delete</i>
          <div class="pop-up-row-name">
            <span>Delete</span>
          </div>
        </div>
      </div>
    </div>
    <span class="user-card-created-date">Created: {{tempUser.created | date: 'dd.MM.yyyy' }}</span>
  </div>
  <div class="user-card-body">
    <div class="item-photo">
      <label class="photo" [class.curs-dis]="!canEdit" [ngStyle]="{'background-image': 'url(' + tempUser.avatar + ')'}">
        <input type="file" capture="camera" accept="image/*" (change)="loadPhoto($event)">
        <i class="material-icons" [hidden]="tempUser.avatar">crop_original</i>
      </label>
      <div class="photo-ctrl" [hidden]="!canEdit">
        <label>Upload<input type="file" capture="camera" accept="image/*" (change)="loadPhoto($event)"></label>
        <span (click)="removePhoto()">Remove</span>
      </div>
    </div>
    <form class="item-form" #editViewForm="ngForm" >
      <div class="input-wrap">
        <input type="email" [class.no-changable]="!canEdit" placeholder="Email" #email="ngModel" [class.input-error]="email.invalid && (email.touched || submitted)"  [(ngModel)]="tempUser.email" [readonly]="!canEdit" [pattern]="userService.config.PATTERNS.EMAIL"  maxlength="20" required>
        <label  [class.full-op]="email.invalid && (email.touched|| submitted)">This input requires a value!</label>
      </div>
      <div class="input-wrap">
        <input type="text" [class.no-changable]="!canEdit" #firstName="ngModel" [class.input-error]="firstName.invalid && (firstName.touched || submitted)"  placeholder="First name" [(ngModel)]="tempUser.firstName"  [readonly]="!canEdit" maxlength="20" required>
        <label [class.full-op]="firstName.invalid && (firstName.touched || submitted)">This input requires a value!</label>
      </div>
      <div class="input-wrap">
        <input type="text" [class.no-changable]="!canEdit" #secondName="ngModel" [class.input-error]="secondName.invalid && (secondName.touched || submitted)" placeholder="Last name" [(ngModel)]="tempUser.secondName" [readonly]="!canEdit"  maxlength="20" required>
        <label [class.full-op]="secondName.invalid && (secondName.touched || submitted)">This input requires a value!</label>
      </div>

      <!--<div *ngIf="User._id === user._id && canEdit">-->
        <!--<div class="input-wrap">-->
          <!--<input type="password"   #psw1="ngModel"   placeholder="New Password" [(ngModel)]="tempUser.psw1"  maxlength="20" [required]="tempUser.psw2" [class.input-error]="psw1.invalid && (psw1.touched ||psw2.touched || submitted)"  >-->
          <!--<label [class.full-op]="psw1.invalid && (psw1.touched || submitted || psw2.touched)">This input requires a value!</label>-->
        <!--</div>-->
        <!--<div class="input-wrap">-->
          <!--<input type="password"   #psw2="ngModel"   placeholder="Repeat Password" [(ngModel)]="tempUser.psw2"  maxlength="20" [required]="tempUser.psw1" [class.input-error]="psw2.invalid && (psw1.touched ||psw2.touched || submitted)" >-->
          <!--<label [class.full-op]="psw1.invalid && (psw1.touched || submitted || psw2.touched) ">This input requires a value!</label>-->
          <!--<label [class.full-op]="tempUser.psw2 != tempUser.psw1">Passwords didn`t match</label>-->
        <!--</div>-->
      <!--</div>-->
    </form>
  </div>
</div>
<div class="user-card-foot" [hidden]="!canEdit">
  <span class="user-ft-l false-btn" (click)="reset()">Reset</span>
  <span class="user-ft-r true-btn" (click)="changeUser(editViewForm.invalid)">save changes</span>
</div>