<header>
  <div class="asd-hd-top">
    <div class="asd-name-in">KL</div>
    <div class="asd-status-wrap">
      <i class="material-icons">arrow_back</i>
      <div class="asd-status">Super user</div>
    </div>
  </div>
  <div class="asd-hd-bot">
    <div class="asd-name">Kyle Ledbetter</div>
    <div class="asd-email-wrap">
      <div class="asd-email">kyle@kyleledbetter.com</div>
      <i class="material-icons">arrow_drop_down</i>
    </div>
  </div>
</header>

<div class="user-pop-up">
  <div class="user-pop-up-item" routerLink="/projects" routerLinkActive="asd-active">
    <i class="material-icons">folder</i><span class="pointer">Projects</span>
    <span class="user-pop-up-num">4</span>
  </div>
  <div class="user-pop-up-item" routerLink="/users" routerLinkActive="asd-active">
    <i class="material-icons">people</i><span class="pointer">Users</span>
    <span class="user-pop-up-num">12</span>
  </div>
  <div class="user-pop-up-item" routerLink="/settings" routerLinkActive="asd-active">
    <i class="material-icons">settings</i><span class="pointer">Settings</span>
  </div>
</div>

<footer>
  <div class="asd-logout">
    <i class="material-icons" (click)="logOut()">exit_to_app</i>
    <div class="text-wrap pointer" (click)="logOut()">
      Log out
    </div>
  </div>
  <div class="asd-terms">
    <img src="../../../assets/img/logo.png" alt="">
    <a href="#">Terms</a>
  </div>
</footer>
