<div class="header-wrap" *ngIf="headerData.type === 'users' || headerData.type === 'projects'">
  <div class="header-tag">{{headerData.title}}<span>{{'( ' + headerData.arrLength + ' )'}}</span></div>
  <div class="header-search">
    <input type="text" placeholder="Search" (input)="changeHeaderData($event.target.value, 'searchName')">
  </div>
  <div class="header-sort">
    <span>Sorted by:</span>
    <div class="sort-select" (window:mouseup)="sortActive = false">
      <div class="sort-present" [class.sort-active]="sortActive" (click)="sortActive = !sortActive">
        <span>{{headerData.sortType}}</span>
        <i class="material-icons" >arrow_drop_down</i>
      </div>
      <div class="pop-up" [hidden]="!sortActive">
        <div class="pop-up-item" (click)="changeHeaderData('A-Z', 'sortType')">
          <div class="pop-up-row-name">
            <span [class.sort-selected]="headerData.sortType === 'A-Z'">A-Z</span>
          </div>
        </div>
        <div class="pop-up-item" (click)="changeHeaderData('Z-A', 'sortType')">
          <div class="pop-up-row-name">
            <span [class.sort-selected]="headerData.sortType === 'Z-A'">Z-A</span>
          </div>
        </div>
        <div class="pop-up-item" (click)="changeHeaderData('Newest to older', 'sortType')">
          <div class="pop-up-row-name">
            <span [class.sort-selected]="headerData.sortType === 'Newest to older'">Newest to older</span>
          </div>
        </div>
        <div class="pop-up-item" (click)="changeHeaderData('Older to newest', 'sortType')">
          <div class="pop-up-row-name">
            <span [class.sort-selected]="headerData.sortType === 'Older to newest'">Older to newest</span>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

