<div class="user-card">
  <div class="user-card-head">
    <div>
      <span class="user-card-hd-name">{{tempUser.firstName}} {{tempUser.secondName}}</span>
      <span class="user-card-hd-status">{{tempUser.status}}</span>
    </div>
    <div class="user-card-hd-menu" [class.user-card-hd-menu-active]="openMenu" [hidden]="!canEdit">
      <i class="material-icons" (click)="openMenu = !openMenu" (window:mouseup)="openMenu = false">more_vert</i>
      <div class="user-pop-up" [class.hidden]="!openMenu">
        <div class="user-pop-up-item">
          <i class="material-icons">folder</i><span>Projects</span>
          <span class="user-pop-up-num">2</span>
        </div>
        <div class="user-pop-up-item">
          <i class="material-icons">people</i><span>Users</span>
          <span class="user-pop-up-num">4</span>
        </div>
        <div class="user-pop-up-item" [hidden]="!tempUser.active || !canEdit" (click)="deactivate()">
          <i class="material-icons" (click)="tempUser.active = false">visibility_off</i><span>Deactivate</span>
        </div>
        <div class="user-pop-up-item" [hidden]="tempUser.active || !canEdit" (click)="deactivate()">
          <i class="material-icons" (click)="tempUser.active = true">visibility</i><span>Activate</span>
        </div>
        <div class="user-pop-up-item" [hidden]="!canEdit">
          <i class="material-icons">lock</i><span>Change password</span>
        </div>
        <div class="user-pop-up-item" [hidden]="!canEdit" (click)="delete()">
          <i class="material-icons">delete</i><span>Delete</span>
        </div>
      </div>
    </div>
    <span class="user-card-created-date">Created: {{tempUser.created}}</span>
  </div>
  <div class="user-card-body">
    <div class="user-photo">
      <label class="photo" [class.curs-dis]="!canEdit" [ngStyle]="{'background-image': 'url(' + tempUser.avatar + ')'}">
        <input type="file" capture="camera" accept="image/*" (change)="loadPhoto($event)">
        <i class="material-icons" [hidden]="tempUser.avatar">crop_original</i>
      </label>
      <div class="photo-ctrl" [hidden]="!canEdit">
        <label>Upload<input type="file" capture="camera" accept="image/*" (change)="loadPhoto($event)"></label>
        <span (click)="removePhoto()">Remove</span>
      </div>
    </div>
    <form class="user-form">
      <div class="input-wrap">
        <input type="email" [class.input-fill]="tempUser.email" [class.no-changable]="!canEdit" placeholder="Email" [(ngModel)]="tempUser.email" [ngModelOptions]="{standalone: true}" [readonly]="!canEdit" (focus)="resol.email = true">
        <label [class.full-op]="!resol.email">This input requires a value!</label>
      </div>
      <div class="input-wrap">
        <input type="text" [class.input-fill]="tempUser.firstName" [class.no-changable]="!canEdit" placeholder="First name" [(ngModel)]="tempUser.firstName" [ngModelOptions]="{standalone: true}" [readonly]="!canEdit" (focus)="resol.firstName = true">
        <label [class.full-op]="!resol.firstName">This input requires a value!</label>
      </div>
      <div class="input-wrap">
        <input type="text" [class.input-fill]="tempUser.secondName" [class.no-changable]="!canEdit" placeholder="Last name" [(ngModel)]="tempUser.secondName" [ngModelOptions]="{standalone: true}" [readonly]="!canEdit" (focus)="resol.secondName = true">
        <label [class.full-op]="!resol.secondName">This input requires a value!</label>
      </div>
    </form>
  </div>
</div>
<div class="user-card-foot" [hidden]="!canEdit">
  <span class="user-ft-l text-btn" (click)="reset()">Reset</span>
  <span class="user-ft-r text-btn" (click)="changeUser()">save changes</span>
</div>