<div class="user-card">
  <div class="user-card-head">
    <div>
      <span class="user-card-hd-name">{{tempUser.firstName}} {{tempUser.secondName}}</span>
      <span class="user-card-hd-status">{{tempUser.status}}</span>
    </div>
    <div class="user-card-hd-menu" [class.user-card-hd-menu-active]="openMenu">
      <i class="material-icons" (click)="openMenu = !openMenu" (window:mouseup)="openMenu = false">more_vert</i>
      <div class="user-card-edit-block" [class.hidden]="!openMenu">
        <div class="user-card-edit-item">
          <i class="material-icons">folder</i><span class="pointer">Projects</span>
          <span class="user-card-edit-num">2</span>
        </div>
        <div class="user-card-edit-item">
          <i class="material-icons">people</i><span class="pointer">Users</span>
          <span class="user-card-edit-num">4</span>
        </div>
        <div class="user-card-edit-item" [class.hidden]="!tempUser.active">
          <i class="material-icons" (click)="tempUser.active = false">visibility_off</i><span class="pointer" (click)="tempUser.active = false">Deactivate</span>
        </div>
        <div class="user-card-edit-item" [class.hidden]="tempUser.active">
          <i class="material-icons" (click)="tempUser.active = true">visibility</i><span class="pointer" (click)="tempUser.active = true">Activate</span>
        </div>
        <div class="user-card-edit-item">
          <i class="material-icons">lock</i><span class="pointer">Change password</span>
        </div>
        <div class="user-card-edit-item">
          <i class="material-icons">delete</i><span class="pointer">Delete</span>
        </div>
      </div>
    </div>
    <span class="user-card-created-date">Created: {{tempUser.created}}</span>
  </div>
  <div class="user-card-body">
    <div class="user-card-body-photo">
      <img src="" alt="" [class.hidden]="!tempUser.img">
      <div class="no-img" [class.hidden]="tempUser.img">
        <i class="material-icons">crop_original</i>
      </div>
      <div class="photo-ctrl">
        <span class="pointer">Upload</span>
        <span class="photo-rm pointer">Remove</span>
      </div>
    </div>
    <form id="user-form">
      <input type="email" [(ngModel)]="tempUser.email" [ngModelOptions]="{standalone: true}">
      <input type="text" [(ngModel)]="tempUser.firstName" [ngModelOptions]="{standalone: true}">
      <input type="text" [(ngModel)]="tempUser.secondName" [ngModelOptions]="{standalone: true}">
    </form>
  </div>
</div>
<div class="user-card-foot">
  <button class="user-ft-l pointer" (click)="reset()">Reset</button>
  <button class="user-ft-r pointer" (click)="changeUser()">save changes</button>
</div>