<app-header [header]="header" [(searchRes)]="searchName" [(sortType)]="sortType" class="row"></app-header>
<main>
    <div class="projects-wrap">
        <div class="projects-list  row" slimScroll  width="100%" alwaysVisible=false distance="9px" height="100%" size="2px" color="#8b8d91" opacity=1 railColor="#b2b3b7" railOpacity=0>
            <div class="project-wrap col-lg-4 col-md-6">
                <div class="project">
                    <div class="project-content">
                        <div class="project-ctrl">
                            <i class="material-icons">edit</i>
                            <i class="material-icons">more_vert</i>
                        </div>
                        <div class="project-info">
                            <div class="project-title">Gagarin Appartaments</div>
                            <div class="project-created">Created: 11.03.2016</div>
                        </div>
                    </div>
                    <div class="project-bot"></div>
                </div>
            </div>
        </div>
    </div>
</main>