<app-header [header]="header" [(searchRes)]="searchName" [(sortType)]="sortType" class="row"></app-header>
<main>
    <div class="projects-list">
        <div class="projects-wrap  row" slimScroll  width="100%" alwaysVisible=false distance="0px" height="100%" size="2px" color="#8b8d91" opacity=1 railColor="#b2b3b7" railOpacity=0>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
            <div class="project-wrap col-md-4">
                <div class="project">

                </div>
            </div>
        </div>
    </div>
</main>