<header>
  <div class="asd-hd-top">
    <div class="asd-name-in" [ngStyle]="{'background-image': 'url(' + user.avatar + ')'}">
      <span *ngIf="!user.avatar">{{userService.lettersNoImg(user)}}</span>
    </div>
    <div class="asd-status-wrap">
      <i class="material-icons" (click)="closeMenu()">arrow_back</i>
      <div class="asd-status" *ngIf="user.role == 'super'">Super user</div>
      <div class="asd-status" *ngIf="user.role == 'admin'">Client-admin</div>
      <div class="asd-status" *ngIf="user.role == 'user'">Client-user</div>
    </div>
  </div>
  <div class="asd-hd-bot">
    <div class="asd-name">{{user.firstName}} {{user.secondName}}</div>
    <div class="asd-email-wrap">
      <div class="asd-email">{{user.email}}</div>
      <i class="material-icons">arrow_drop_down</i>
    </div>
  </div>
</header>

<div class="pop-up">
  <div class="pop-up-item" routerLink="/projects" routerLinkActive="asd-active">
    <i class="material-icons">folder</i>
    <div class="pop-up-row-name">
      <span class="pointer">Projects</span>
      <span class="pop-up-num">0</span>
    </div>
  </div>
  <div class="pop-up-item" routerLink="/users" routerLinkActive="asd-active">
    <i class="material-icons">people</i>
    <div class="pop-up-row-name">
      <span class="pointer">Users</span>
      <span class="pop-up-num">{{User.users.length || 0}}</span>
    </div>
  </div>
  <div class="pop-up-item" routerLink="/settings" routerLinkActive="asd-active">
    <i class="material-icons">settings</i>
    <div class="pop-up-row-name">
      <span class="pointer">Settings</span>
    </div>
  </div>
</div>

<footer>
  <div class="asd-logout">
    <i class="material-icons" (click)="logOut()">exit_to_app</i>
    <div class="text-wrap pointer" (click)="logOut()">
      Log out
    </div>
  </div>
  <div class="asd-terms">
    <img src="../../../assets/img/logo.png" alt="">
    <a href="#">Terms</a>
  </div>
</footer>
