<div class="login-logo">
  <img src="../../../assets/img/logo.png" alt="">
</div>
<div class="login-form">
  <label class="login-text">Log in:</label>
  <form class="user-form" (keydown)="keyDown($event)">
    <div class="input-wrap">
      <input id="login-name" [class.input-fill]="user.email" [class.input-error]="!resol.email" type="text" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}" placeholder="Username / email" (focus)="resol.email = true">
      <label for="login-name" [class.full-op]="!resol.email">This input requires a value!</label>
    </div>
    <div class="input-wrap">
      <input id="login-pass" [class.input-fill]="user.password" [class.input-error]="!resol.password" type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" maxlength="15" placeholder="Password" (focus)="resol.password = true">
      <label for="login-pass" [class.full-op]="!resol.password">This input requires a value!</label>
    </div>
  </form>
  <div class="log-in">
    <div class="chkbx-wrap">
      <div id="remember-int" (click)="remember = !remember">
        <i class="material-icons" [hidden]="!remember">done</i>
      </div>
      <label for="remember-int" (click)="remember = !remember">Remember password</label>
    </div>
    <span class="text-btn" (click)="logIn()">ACCEPT</span>
  </div>
</div>