<div class="login-logo">
  <img src="../../../assets/img/logo.png" alt="">
</div>
<form id="login-form">
  <label class="login-text">Log in:</label>
  <div class="login-inputs">
    <div class="input-wrap">
      <input id="login-name" [class.input-error]="!user.nameResol" type="text" [(ngModel)]="user.username" [ngModelOptions]="{standalone: true}" placeholder="Username / email" (focus)="user.nameResol = true">
      <label for="login-name" [class.full-op]="!user.nameResol">This input requires a value!</label>
    </div>
    <div class="input-wrap">
      <input id="login-pass" [class.input-error]="!user.passResol" type="password" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}" maxlength="5" placeholder="Password" (focus)="user.passResol = true">
      <label for="login-pass" [class.full-op]="!user.passResol">This input requires a value!</label>
    </div>
  </div>
  <div class="log-in">
    <div class="chkbx-wrap">
      <div id="remember-int" (click)="remember = !remember">
        <i class="material-icons" [class.hidden]="!remember">done</i>
      </div>
      <label for="remember-int">Remember password</label>
    </div>
    <button (click)="logIn()">ACCEPT</button>
  </div>
</form>