<div class="project-wrap " >
    <div class="project">
        <div class="project-content img-true" [ngStyle]="{'background-image': 'url(' + project.image + ')'}" [class.img-true]="project.image">
            <i class="material-icons no-img" [hidden]="project.image">crop_original</i>
            <div class="project-ctrl-wrap">
                <span [hidden]="project.published">Unpublished</span>
                <div [hidden]="noEdite" class="project-ctrl">
                    <i class="material-icons"  > <a [routerLink]="['/projects', project._id]"  routerLinkActive="active">edit</a></i>
                    <i class="material-icons">more_vert</i>
                </div>
            </div>
            <div class="project-info">
                <div class="project-title">{{project.title}}</div>
                <div class="project-created">Created: {{project.created}}</div>
            </div>
        </div>
        <div class="project-bot">
            <span class="project-admin">Admin:</span>
            <div class="project-users">
                <div class="project-user">
                    <div class="project-user-img" [ngStyle]="{'background-image': 'url(asfd)'}">
                        <span>AF</span>
                    </div>
                    <span class="project-user-name">Jennifer Carasdsdfd</span>
                </div>
            </div>
        </div>
    </div>
</div>