<div class="model-config">
    <form class="item-form" #editViewForm="ngForm" novalidate (change)="modelStructure.glApp.updateData('test')">
        <div *ngIf="modelStructure._category == _CONFIG.PROJ_DESTINATION.ModelStructure">
            <div class="top-block files-top-block ">
                <div class="input-wrap">
                    <div class="col-lg-12">
                        <input type="text" #curentName="ngModel" name="curentName"
                               placeholder="Level`s Name"
                               [(ngModel)]="modelStructure.name" required autofocus>
                        <label [class.full-op]="curentName.invalid && curentName.touched">The
                            Level`s Name is required!</label>
                    </div>
                </div>

                <div class="upload-list col-lg-12">
                    <app-file-upload [title]="'Upload model'" [accept]="'.obj'"
                                     [category]="_CONFIG.FILE.TYPE.MODEL_OBJ"
                                     [required]="'1'" class="col-lg-12" [files]="[modelStructure.destination]"
                                     [inject]="modelStructure.glApp"
                                     *ngIf="!modelStructure.camera.isSVG"></app-file-upload>

                    <app-file-upload [title]="'Upload frames'" [multiple]="'multiple'"
                                     [category]="_CONFIG.FILE.TYPE.PREVIEW_IMG"
                                     [required]="'1'" [accept]="'image/*'" [files]="modelStructure.images"
                                     [inject]="modelStructure.glApp"
                                     class="col-lg-12"></app-file-upload>

                    <app-file-upload [title]="'Aligning frames'" [multiple]="'multiple'"
                                     [inject]="modelStructure.glApp"
                                     [category]="_CONFIG.FILE.TYPE.ALIGN_IMG" [accept]="'image/*'"
                                     [files]="modelStructure.alignImages"
                                     class="col-lg-12"></app-file-upload>

                    <div class="add-btn"
                         *ngIf="modelStructure.images.length && modelStructure.alignImages.length && modelStructure.glApp._slider"
                         (click)="modelStructure.glApp._slider.toggleDebug()">
                        <i class="material-icons">image</i>

                        <div class="span-hover">
                            <span>Togle to {{modelStructure.glApp._slider.isDebug?'Upload':'Align'}} frames </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bottom-block">
                <div class="row">
                    <div class="inp-form col-lg-3">
                        <label>SVG(*)</label>
                        <input name="isSVG" type="checkbox" (change)="modelStructure.glApp.updateData('isSVG')"
                               [(ngModel)]="modelStructure.camera.isSVG">
                    </div>
                    <div class="inp-form col-lg-6" *ngIf="modelStructure.camera.isSVG">
                        <label>Zoom Helper(*)</label>
                        <input name="showZoomHelper" type="checkbox"
                               (change)="modelStructure.glApp.updateData('showZoomHelper')"
                               [(ngModel)]="modelStructure.camera.showZoomHelper">
                    </div>
                </div>
                <div class="row">
                    <div class="inp-form col-lg-3">
                        <label>Opacity</label>
                        <input name="opacity" type="number"
                               (change)="modelStructure.glApp.updateData('opacity')" step="0.01" min="0" max="1"
                               [(ngModel)]="modelStructure.camera.opacity">
                    </div>
                    <div class="inp-form col-lg-6">
                        <label>Kompas(&deg;),start from</label>
                        <input name="angle" type="number"
                               (change)="modelStructure.glApp.updateData('kompass')" step="1" min="0" max="360"
                               [(ngModel)]="modelStructure.camera.kompass.angle">
                    </div>
                    <div class="inp-form col-lg-3">
                        <label>Kompas(*)</label>
                        <input name="enablr" type="checkbox"
                               (change)="modelStructure.glApp.updateData('kompass')"
                               [(ngModel)]="modelStructure.camera.kompass.enabled">
                    </div>
                </div>
                <div class="row">
                    <div class="inp-form col-lg-6">
                        <label>Width</label>
                        <input name="width" type="number" disabled *ngIf="modelStructure.glApp._slider"
                               [ngModel]="modelStructure.glApp._slider.currentFrame.clientWidth ||modelStructure.glApp._slider.currentAlignFrame.clientWidth">
                    </div>
                    <div class="inp-form col-lg-6">
                        <label>Height</label>
                        <input name="height" type="number" disabled *ngIf="modelStructure.glApp._slider"
                               [ngModel]="modelStructure.glApp._slider.currentFrame.clientHeight ||modelStructure.glApp._slider.currentAlignFrame.clientHeight">
                    </div>
                </div>
                <div *ngIf="!modelStructure.camera.isSVG">
                    <div class="row">
                        <div class="inp-form col-lg-4">
                            <label>Scale</label>
                            <input name="scaleX" type="number" (change)="modelStructure.glApp.updateData('scale')"
                                   step="0.1"
                                   [(ngModel)]="modelStructure.glApp.model.scale.x">
                        </div>
                        <div class="inp-form col-lg-4">
                            <label>Current</label>
                            <input name="current" type="number" *ngIf="modelStructure.glApp._slider" disabled="true"
                                   min="0"
                                   max="36" [(ngModel)]="modelStructure.currentItem">
                        </div>
                        <div class="inp-form col-lg-4">
                            <label>Frames</label>
                            <input name="frames" type="number" min="0" max="36" disabled="true"
                                   [ngModel]="modelStructure.images.length">
                        </div>
                    </div>
                    <div class="row">
                        <div class="inp-form col-lg-4">
                            <label>Camera X</label>
                            <input name="posX" type="number" (change)="modelStructure.glApp.updateData('cameraPst')"
                                   [(ngModel)]="modelStructure.glApp.camera.position.x">
                        </div>
                        <div class="inp-form col-lg-4">
                            <label>Camera Y</label>
                            <input name="posY" type="number" (change)="modelStructure.glApp.updateData('cameraPst')"
                                   [(ngModel)]="modelStructure.glApp.camera.position.y">
                        </div>
                        <div class="inp-form col-lg-4">
                            <label>Camera Z</label>
                            <input name="posZ" type="number" (change)="modelStructure.glApp.updateData('cameraPst')"
                                   [(ngModel)]="modelStructure.glApp.camera.position.z">
                        </div>
                    </div>
                    <div class="row">
                        <div class="inp-form col-lg-6">
                            <label>Fov</label>
                            <input name="fov" type="number" step="0.01" (change)="modelStructure.glApp.updateData()"
                                   [(ngModel)]="modelStructure.glApp.camera.fov">
                        </div>
                        <div class="inp-form col-lg-6">
                            <label>Size</label>
                            <input name="size" type="number" [(ngModel)]="modelStructure.camera.size"
                                   (change)="modelStructure.glApp.updateData('size')"
                                   step="0.1">
                        </div>
                    </div>
                    <div class="row">
                        <div class="inp-form col-lg-6">
                            <label>Lens</label>
                            <input name="lens" type="number" (change)="modelStructure.glApp.updateData('lens')"
                                   [(ngModel)]="modelStructure.camera.lens" step="0.01">
                        </div>
                        <div class="inp-form col-lg-6">
                            <label>Zoom</label>
                            <input name="zoom" type="number" (change)="modelStructure.glApp.updateData()"
                                   [(ngModel)]="modelStructure.glApp.camera.zoom" step="0.01">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="modelStructure._category != _CONFIG.PROJ_DESTINATION.ModelStructure">
            <div class="bottom-block">
                <div class="input-wrap">
                    <div class="col-lg-12">
                        <input type="text" #curentName="ngModel" name="curentName"
                               placeholder="Level`s Name"
                               [(ngModel)]="modelStructure.name" required autofocus>
                        <label [class.full-op]="curentName.invalid && curentName.touched">
                            The Level`s Name is required!</label>
                    </div>
                </div>
                <div class="input-wrap">
                    <div class="inp-form col-lg-12">
                        <span>Destionation</span>

                        <div *ngIf="modelStructure._category == _CONFIG.PROJ_DESTINATION.LinkGeneralStructure">
                            <input name="destination1" #destination1="ngModel" type="text" required
                                   [pattern]="_CONFIG.PATTERNS.URL"
                                   [(ngModel)]="modelStructure.destination">
                            <label [class.full-op]="destination1.invalid && destination1.touched">The
                                Destionation is required and must be an url!</label>
                        </div>
                        <div *ngIf="modelStructure._category === _CONFIG.PROJ_DESTINATION.GeneralStructure">
                            <textarea rows="10" class="col-lg-12" name="destination0" #destination0="ngModel" required
                                      [(ngModel)]="modelStructure.destination"></textarea>
                            <label [class.full-op]="destination0.invalid && destination0.touched || !modelStructure.destination.length">The
                                Destionation is required and must be an js code! </label>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div class="add-btn" *ngIf="modelStructure.hasChanges" (click)="modelStructure.sourcesApp.update(editViewForm)">
            <i class="material-icons">save</i>

            <div class="span-hover">
                <span>Save</span>
            </div>
        </div>
        <div class="add-btn" *ngIf="modelStructure.hasRecalcChanges && !modelStructure.camera.isSVG"
             (click)="modelStructure.glApp.recalc()">
            <i class="material-icons">exposure</i>

            <div class="span-hover">
                <span>Recalculate for all</span>
            </div>
        </div>

        <div class="add-btn disabled" *ngIf="!modelStructure.hasChanges">
            <i class="material-icons">save</i>
        </div>
    </form>
</div>