/* You can add global styles to this file, and also import other style files */
@import "app/styles/values"
@import "app/styles/fonts"
@import "app/styles/elements"

html,
body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  background: $white
  font-family: Roboto-Regular
  color: $primary-text
  font-size: 15px

input
  margin: 0
  padding: 0
  border: none
  background: none
  &:focus
    outline: none

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px $white inset
  -webkit-text-fill-color: $input-color !important
  &:focus
    -webkit-text-fill-color: $primary-text !important

label
  font-weight: initial
  margin: 0

i
  cursor: pointer

.pointer
  cursor: pointer

.row
  margin: 0

[hidden]
  display: none !important
.new-btns
  justify-content: center
  .text-btn
    text-transform: uppercase
    cursor: pointer
    font-size: 16px
    color: $reset
    font-weight: 500
    -webkit-transition: opacity .5s
    transition: opacity .5s
    padding: 15px
  .right-btn
    margin-left: 30px
    color: $btn-color
  span:hover
    opacity: 0.6

@font-face
  font-family: 'Material Icons'
  font-style: normal
  font-weight: 400
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(./assets/fonts/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2) format('woff2')


.material-icons
  font-family: 'Material Icons'
  font-weight: normal
  font-style: normal
  font-size: 24px
  line-height: 1
  letter-spacing: normal
  text-transform: none
  display: inline-block
  white-space: nowrap
  word-wrap: normal
  direction: ltr
  -webkit-font-feature-settings: 'liga'
  -webkit-font-smoothing: antialiased


@import "app/app.component"
@import "app/components/login/login.component"
@import "app/components/home/home.component"
@import "app/components/home/aside/aside.component"
@import "app/components/home/header/header.component"

@import "app/components/home/projects/projects.component"
@import "app/components/home/projects/new-project/new-project.component"
@import "app/components/home/projects/view/view.project"

@import "app/components/home/users/users.component"
@import "app/components/home/users/user-card/user-card.component"
@import "app/components/home/users/new-user/new-user.component"
@import "app/components/home/users/new-user/new-user.component"

@import "app/components/home/project/source/edit.view/edit.view"
@import "app/directives/upload.files/upload.file"
@import "app/directives/webgl.view/webgl.view"
@import "app/directives/tree/tree"

@import "app/components/home/project/project.component"
@import "app/components/home/project/basic/basic.project"
@import "app/components/home/project/source/source.project"
