/* You can add global styles to this file, and also import other style files */
@import "app/styles/values"
@import "app/styles/fonts"
@import "app/styles/elements"

html,
body
  width: 100%
  height: 100%
  margin: 0
  padding: 0
  overflow: hidden
  background: $white
  font-family: Roboto-Regular
  color: $primary-text
  font-size: 15px

input
  margin: 0
  padding: 0
  border: none
  background: none
  &:focus
    outline: none

input:-webkit-autofill
  -webkit-box-shadow: 0 0 0px 1000px $white inset
  -webkit-text-fill-color: $input-color !important
  &:focus
    -webkit-text-fill-color: $primary-text !important



label
  font-weight: initial
  margin: 0

i
  cursor: pointer

.pointer
  cursor: pointer

.row
  margin: 0

[hidden]
  display: none!important



@import url(https://fonts.googleapis.com/icon?family=Material+Icons)
@import "app/app.component"
@import "app/components/login/login.component"
@import "app/components/home/home.component"
@import "app/components/home/aside/aside.component"
@import "app/components/home/header/header.component"

@import "app/components/home/projects/projects.component"
@import "app/components/home/projects/new-project/new-project.component"
@import "app/components/home/projects/view/view.project"

@import "app/components/home/users/users.component"
@import "app/components/home/users/user-card/user-card.component"
@import "app/components/home/users/new-user/new-user.component"

@import "app/components/home/project/project.component"
@import "app/components/home/project/basic/basic.project"
@import "app/components/home/project/source/source.project"
